body {
	padding: 2.5%
}

#quran-c {
	font-family: quran;
	padding: 5%;
	background-color: rgba(0,0,0,75%);
	border: black 10px double;
	font-size: 30px;
	color: white;
	direction: rtl;
	height: 75vh;
	overflow-y: overlay
}

.soritem {
	margin-top: 3px
}

@font-face {
    font-family: "quran";
	src: url("quran.ttf")
}